<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contatos</title>
</head>

<body>
    {% if message %}
    <div>{{message}} </div>
    {% endif %}
    <h1>Lista de Contatos</h1>
    <a href="/contacts/novo">Novo</a>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td><a href="/contacts/{{contact.id}}"> {{ contact.name }}</a></td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td><a href="/contacts/{{contact.id}}/remove">Excluir</a></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">
                    Não existem contatos cadastrados
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>